<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<!-- Account Error Display -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>


<div class="account-management">
    <h3>Create a new Message</h3>
    <a title="Create New Message" href="/messages/newMessage">Create New Message</a>

    <br>

    <h3>View Archived Messages</h3>
    <a title="View Archived Messages" href="/messages/archivedMessages">View <%- archivedCount  %> Archived Messages</a>
</div>

<%- messageList %>


<!-- <table class="manage-messages" id="messageDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript> -->

<!-- <script src="../../public/js/message.js"></script> -->