<!-- New Message Page Title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>


<!-- New Message Error Display -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>


<!-- New Message Form -->
<div class="new-message-body">
  <p>This is an internal system only. Recipients are limited to the three generic accounts.</p>
  <p>All inputs are required.</p>

  <div class="form-box">
    <form action="/messages/newMessage" method="post">

      <div class="inv-label">
        <label for="messageTo">To:</label>
        <%- recipientList %>
      </div>
      

      <div class="inv-label">
        <label for="messageSubject">Subject:</label>
        <input id="messageSubject" name="message_subject" type="text" placeholder="Subject" 
          required 
          value="<%= locals.message_subject %>"> 
      </div>

      <div class="inv-label">
        <label for="messageBody">Message:</label>
        <textarea id="messageBody" class="message-body" name="message_body" placeholder="Insert message here..." required><%= locals.message_body %></textarea>
      </div>

      <button type="submit" class="form-btn">Send</button>

    </form>
  </div>

  <a class="inbox-link" title="Inbox" href="/messages">Return to Inbox</a>
</div>